.curved-loop-jacket {
  position: absolute;
  top: 80px;
  left: -150px;
  width: 600px;
  height: 120px;
  z-index: 10;
  overflow: visible;
  transform: rotate(-20deg);
  transform-origin: left center;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 4rem;
  fill: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
